/* App Container */
.app-wrapper {
    display: flex;
    
    align-items: center;
    height: 100vh;
    background: url('background.jpg') no-repeat center center/cover;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* Wrapper for H1 and AuthForm */
.wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 900px;
    width: 90%;
    gap: 6rem;
}

/* H1 Styles */
.wrapper h1 {
    flex: 1;
    font-size: 2.5rem;
    font-weight: 600;
    text-align: left;
    color: #fff;
    margin-right: 2rem;
}

/* AuthForm Container */
.auth-container {
    flex: 1;
    max-width: 400px;
}

/* Responsive Design */
@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
      
        gap: 4rem;
    }

    .wrapper h1 {
        text-align: center;
        margin: 0;
    }

    .auth-container {
        width: 100%;
    }
}
